.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--gray-80);
}

.form__container {
  text-align: center;
  margin-top: 90px;
  width: max-content;
  height: max-content;
  padding: 50px 40px 20px;
  background: var(--gray-90);
  border-radius: 4px;
  border: 1px solid var(--gray-70);
  animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.form__forgot {
  display: block;
  text-decoration: none;
  margin-top: 2.5em;
  width: fit-content;
  margin-left: auto;
  font-size: 0.8em;
  color: var(--gray-30);
}

.form__forgot:hover {
  text-decoration: underline;
}

.form__msg {
  padding-top: 3px;
  font-size: 14px;
  color: var(--error);
  opacity: 0;
  transition: all 800ms ease;
  transition: visibility 0s, opacity 0.5s linear;
}

.form__msg.form__error {
  opacity: 1;
}

@keyframes popup {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
