/* .form__title {
  text-align: center;
  color: var(--blue-60);
} */
.form__container {
  background: #fff;
  min-width: 300px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
  color: var(--gray-80);
}

.form__input {
  /* .formulario textarea { */
  /* font-family: "Open Sans", sans-serif; */
  letter-spacing: 0.05em;
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--gray-20);
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
  color: var(--gray-80);
  resize: none;
}

/* .formulario textarea:focus { */
.form__input:focus {
  outline: none;
  border: 2px solid var(--blue-40);
}

.check__container {
  align-self: center;
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.check__container label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.check__container input {
  vertical-align: middle;
}
.check__container span {
  vertical-align: middle;
  margin-left: 10px;
}

.formulario .error {
  position: absolute;
  color: var(--error);
  font-weight: 600;
  font-size: 12px;
}

/* .formulario .exito {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: var(--success);
} */

.formulario input[type="radio"] {
  width: auto;
}
@media (min-width: 769px) {
  .formulario {
    display: grid;
    min-height: 270px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    align-items: start;
    column-gap: 2.5em;
  }
  .wide {
    grid-column: span 2;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
