.lesson__delete {
  background-color: #fff;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--gray-80);
  margin-bottom: 26px;
}

.delete__paragraph {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--gray-80);
  margin-bottom: 26px;
}

.delete__actions {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
