.lessons__container--table {
  border: 1px solid var(--gray-30);
  border-radius: 5px;
  padding: 1em;
  margin-top: 1.5em;
  height: 100%;
}

.lessons__table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.lessons__table th,
.lessons__table td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
  font-size: 14px;
}

@media (min-width: 769px) {
  .lessons__container--table {
    margin-top: 0;
  }
}
