.title {
  text-align: center;
  color: var(--blue-60);
}

/***************/
/*   Buttons   */
/***************/
.btn {
  border: thin solid var(--gray-80);
  border-radius: 0.25rem;
  padding: 0.3rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  width: fit-content;
  background-color: #eee;
  color: var(--gray-80);
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* font-weight: bold; */
}

.btn__primary {
  background-color: var(--blue-60);
  color: var(--gray-10);
  transition: background-color 1s;
}

.btn__primary:hover {
  background-color: var(--blue-40);
}

.input__file::file-selector-button {
  margin-right: 10px;
  border: none;
  background: var(--blue-60);
  padding: 10px 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.input__file::file-selector-button:hover {
  background: var(--blue-40);
}

/*********************/
/*   Confirm Form    */
/*********************/
.confirm__delete {
  background-color: #fff;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delete__paragraph {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--gray-80);
  margin: 26px 0;
}

.delete__actions {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/**************/
/*   Formik   */
/**************/
.form__container {
  background-color: #fff;
  min-width: 300px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario {
  height: min-content;
}

.formulario > div {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
  color: var(--gray-80);
}

.form__input {
  letter-spacing: 0.05em;
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--gray-20);
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
  color: var(--gray-80);
  resize: none;
}

.form__input--color {
  width: 40%;
  padding: 5px;
  height: 29px;
  border-radius: 5px;
}

.form__input--colorDesc {
  width: 40%;
  margin-left: 5%;
  margin-right: 10%;
}

.form__input--date {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.form__input:focus {
  outline: none;
  border: 2px solid var(--blue-40);
}

.check__container {
  align-self: center;
  cursor: pointer;
}

.checkbox {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.check__container label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.check__container input {
  vertical-align: middle;
}
.check__container span {
  vertical-align: middle;
  margin-left: 10px;
}

.formulario .error {
  position: absolute;
  color: var(--error);
  font-weight: 600;
  font-size: 12px;
}

.formulario input[type="radio"] {
  width: auto;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.action {
  text-align: right;
}

/********************/
/*   Format Table   */
/********************/
.table__container {
  border: 1px solid var(--gray-30);
  border-radius: 5px;
  padding: 1em;
  margin-top: 1.5em;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
  font-size: 14px;
}

.table__actions {
  display: flex;
  justify-content: space-evenly;
}

.table__icon {
  border: none;
  background: none;
  cursor: pointer;
}

.table__icon--edit {
  color: var(--blue-60);
}

.table__icon--delete {
  color: var(--error);
}

@media (min-width: 769px) {
  /**************/
  /*   Formik   */
  /**************/

  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    align-items: start;
    column-gap: 2.5em;
  }
  .wide {
    grid-column: span 2;
  }

  .actions {
    justify-content: flex-end;
  }
}

@media (max-width: 769px) {
  .table__container {
    border: none;
    padding: 0;
  }
  .table thead {
    display: none;
  }
  .table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-30);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .table td {
    text-align: left;
  }

  .table td[data-titulo] {
    display: flex;
  }

  .table td[data-titulo]::before {
    content: attr(data-titulo);
    width: 80px;
    color: var(--gray-40);
    /* font-weight: bold; */
  }

  /**************/
  /*   Formik   */
  /**************/
  .form__input--color {
    width: 40%;
  }
  .form__input--colorDesc {
    width: 50%;
    margin-left: 10%;
    margin-right: 0;
  }
}
